service:
  name: harvey-serverless

# Add the serverless-webpack plugin
plugins:
  - serverless-webpack

provider:
  name: aws
  runtime: nodejs8.10
  environment:
    HARVEST_ACCOUNT_ID: harvestAccountId
    HARVEST_AUTHORIZATION_TOKEN: harvestAuthorizationToken
    SLACK_WEBHOOK_URL: slackWebhookUrl

functions:
  harvey:
    handler: src/bootstrap.handle
    events:
      - schedule: cron(0 1 ? * SAT *)
        enabled: false